/*
 * @Author: blueberry 
 * @Date: 2022-07-22 17:32:54 
 * @Last Modified by: blueberry
 * @Last Modified time: 2022-08-02 18:55:42
 */

// 默认主题

/***************通用颜色***************/

// 背景色调
$cats-bgcolor--base-white: #ffffff;
$cats-bgcolor--base-black: #000000;
$cats-bgcolor--default: #f2f2f2;
// 主色调
$cats-color--primary: #07c160;
$cats-color--emphasize: #576b95;
$cats-color--info: #909399;
$cats-color--warning: #fa9d3b;
$cats-color--danger: #fa5151;
// 辅助色
// 边框色


/***************通用尺寸***************/
$cats-fontSize--base: 16px;
$cats-fontWeight--base: 500;

$cats-fontSize--icon-default: 24px;


/***************通用层级***************/
$cats-zindex--content: 1;
$cats-zindex--nav: 100;
$cats-zindex--overlay: 1000;
$cats-zindex--popup: 5000;

/*************** button 按钮***************/
$cats-btn-width--default: 184px;
$cats-btn-padding--default: 8px 24px;
$cats-btn-fontWeight--default: 700;
$cats-btn-fontSize--default: 17px;
$cats-btn-lineHeight--default: 32px;
$cats-btn-borderRadius--default: 8px;

$cats-btn-padding--shape-block: 16px;
$cats-btn-lineHeight--shape--block: 24px;
$cats-btn-fontWeight--shape--block: 400;

$cats-btn-padding--mini: 0 12px;
$cats-btn-fontSize--mini: 16px;
$cats-btn-borderRadius--mini: 6px;

$cats-btn-color--disabled: rgba(0, 0, 0, 0.2);
$cats-btn-bgColor--disabled: #f2f2f2;

$cats-btn-bgColor--active: rgba(0, 0, 0, 0.1);


/*************** overlay 遮罩层 ***************/
$cats-overlay-bgcolor--default: rgba(0, 0, 0, 0.6);

/*************** popup 弹出层 ***************/
$cats-popup-borderRadius: 12px;

/*************** icon 图标 ***************/
$cats-icon-color--dot: #ee0a24;

/*************** loading 加载 ***************/
$cats-loading-fontSize: 16px;
$cats-loading-color: #606060;

/*************** navbar 头部导航 ***************/
$cats-navbar-color: #323233;
$cats-navbar-height: 46px;
$cats-navbar-padding--icon: 0 10px;

/*************** toast 提示框 ***************/
$cats-toast-width: 136px;
$cats-toast-top: 40%;
$cats-toast-bgColor: #4c4c4c;
$cats-toast-color: rgba(255, 255, 255, 0.9);
$cats-toast-borderRadius: 12px;
$cats-toast-animationDuration: 300ms;

$cats-toast-marginBottom--icon: 16px;

$cats-toast-padding--none: 12px 0;
$cats-toast-borderRadius--none: 8px;

$cats-toast-fontSize--title: 17px;
$cats-toast-padding--title: 0 12px;

$cats-toast-fontSize--title-none: 14px;
$cats-toast-padding--title-none: 0 20px;