/*
 * @Author: blueberry 
 * @Date: 2022-07-22 17:32:54 
 * @Last Modified by: blueberry
 * @Last Modified time: 2022-07-22 18:38:58
 */

// 默认主题

// 通用颜色
$cats-color--primary: #07c160;
$cats-color--emphasize: #576b95;
$cats-color--info: rgba(0, 0, 0, 0.9);
$cats-color--warning: #fa9d3b;
$cats-color--danger: #fa5151;
// 通用尺寸


// button
