@import "../../styles/themes/default.scss";

.cats-navbar {
  display: flex;
  position: relative;
  width: 100%;
  height: $cats-navbar-height;
  background-color: $cats-bgcolor--base-white;
  color: $cats-navbar-color;
  align-items: center;

  &__left,
  &__right {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: $cats-navbar-padding--icon;
    align-items: center;
    justify-content: center;
  }

  &__left {
    left: 0;
  }

  &__right {
    right: 0;
  }

  &__middle {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $cats-fontSize--base;
    font-weight: $cats-fontWeight--base;

    &--loading {
      margin-right: 10px;
    }
  }
}