.cat-btn {
  display: block;
  height: $height-md;
  font-size: $font-size-md;
  border-radius: $radius-md;
  color: $color-text-base;
  border-width: $border-width-md;
  border-style: solid;
  border-color: $border-color-base;
  background-color: $brand-default;
  line-height: $height-md;

  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: nowrap;

  &:active{
    background-color: $brand-default-tap;
  }
}

//按钮类型--Type
.cat-btn-type-primary{
  border-color: $brand-primary;
  background-color: $brand-primary;
  color: $color-text-base-inverse;

  &:active{
    border-color: $brand-primary-tap;
    background-color: $brand-primary-tap;
  }
}
.cat-btn-type-success{
  border-color: $brand-success;
  background-color: $brand-success;
  color: $color-text-base-inverse;

  &:active{
    border-color: $brand-success-tap;
    background-color: $brand-success-tap;
  }
}
.cat-btn-type-info{
  border-color: $brand-info;
  background-color: $brand-info;
  color: $color-text-base-inverse;

  &:active{
    border-color: $brand-info-tap;
    background-color: $brand-info-tap;
  }
}
.cat-btn-type-warning{
  border-color: $brand-warning;
  background-color: $brand-warning;
  color: $color-text-base-inverse;

  &:active{
    border-color: $brand-warning-tap;
    background-color: $brand-warning-tap;
  }
}
.cat-btn-type-error{
  border-color: $brand-error;
  background-color: $brand-error;
  color: $color-text-base-inverse;

  &:active{
    border-color: $brand-error-tap;
    background-color: $brand-error-tap;
  }
}

//是否是行按钮
.is-row {
  border-radius: $radius-none;
  border-left: none;
  border-right: none;
  border-color: $border-color-base;
  background-color: $brand-default;

  &:active{
    border-color: $border-color-base;
    background-color: $brand-default-tap;
  }
}
.cat-btn-type-primary.is-row{
  color: $brand-primary;
}
.cat-btn-type-success.is-row{
  color: $brand-success;
}
.cat-btn-type-info.is-row{
  color: $brand-info;
}
.cat-btn-type-warning.is-row{
  color: $brand-warning;
}
.cat-btn-type-error.is-row{
  color: $brand-error;
}

//按钮是否可点击--disabled
.cat-btn.is-disabled{
  opacity: $opacity-disabled;
  cursor: not-allowed;
  background-color: $brand-default-tap;
}
.cat-btn-type-primary.is-disabled{
  background-color: $brand-primary-disabled;
}
.cat-btn-type-success.is-disabled{
  border-color: $brand-success-disabled;
  background-color: $brand-success-disabled;
}
.cat-btn-type-info.is-disabled{
  background-color: $brand-info-disabled;
}
.cat-btn-type-warning.is-disabled{
  background-color: $brand-warning-disabled;
}
.cat-btn-type-error.is-disabled{
  background-color: $brand-error-disabled;
}

//按钮是否有填充颜色--plain
.cat-btn.is-plain{
  &:hover{
    color: #0099cc;
    border: 1px solid #0099cc;
  }
}
.cat-btn-type-primary.is-plain{
  color: #0099cc;
  border: 1px solid #0099cc;
  background-color: #ecf5ff;

  &:hover{
    color: #ffffff;
    background-color: #0099cc;
    border: 1px solid #0099cc;
  }
}
.cat-btn-type-success.is-plain{
  color: #4db118;
  border: 1px solid #4db118;
  background-color: #f0f9eb;

  &:hover{
    color: #ffffff;
    background-color: #4db118;
    border: 1px solid #4db118;
  }
}
.cat-btn-type-info.is-plain{
  color: #909399;
  border: 1px solid #909399;
  background-color: #f4f4f5;

  &:hover{
    color: #ffffff;
    background-color: #909399;
    border: 1px solid #909399;
  }
}
.cat-btn-type-warning.is-plain{
  color: #e79302;
  border: 1px solid #e79302;
  background-color: #fdf6ec;

  &:hover{
    color: #ffffff;
    background-color: #e79302;
    border: 1px solid #e79302;
  }
}
.cat-btn-type-error.is-plain{
  color: #f25721;
  border: 1px solid #f25721;
  background-color: #fef0f0;

  &:hover{
    color: #ffffff;
    background-color: #f25721;
    border: 1px solid #f25721;
  }
}

//按钮的尺寸--size
.cat-btn-size-big{
  font-size: $font-size-xl;
  height: $height-xl;
  line-height: $height-xl;
}
.cat-btn-size-large{
  font-size: $font-size-lg;
  height: $height-lg;
  line-height: $height-lg;
}
.cat-btn-size-small{
  font-size: $font-size-sm;
  height: $height-sm;
  line-height: $height-sm;
}
.cat-btn-size-mini{
  font-size: $font-size-xs;
  height: $height-xs;
  line-height: $height-xs;
}