@import "../../styles/animation/index.scss";
@import "../../styles/themes/default.scss";

.cats-overlay {
  position: fixed;
  z-index: $cats-zindex--overlay;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: $cats-overlay-bgcolor--default;
}