@import "../../styles/base/reset.scss";

.cats-input {
  margin: 0 16px;
  padding: 16px;
  position: relative;
  display: flex;
  align-items: center;
  line-height: 24px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.9);

  &__left {
    padding-right: 16px;
  }

  &__content {
    flex: 1;

    &-input {
      width: 100%;
      border: 0;
      outline: 0;
      font-size: 17px;
      -webkit-appearance: none;
      background-color: transparent;
      height: 24px;
      line-height: 24px;
    }
  }

  &:not(:last-child)::after {
    content: " ";
    position: absolute;
    left: 16px;
    bottom: 0;
    right: 16px;
    height: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.1);
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 2;
  }
}