.cats-cell {
  display: block;
  font-size: $font-size-md;
  color: $color-text-base;
  background-color: $fill-base;

  .cats-cell-warpper {
    width: 100%;
    min-height: $height-md;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    background-color: $fill-base;
    padding: $v-spacing-md $h-spacing-md;
    border-top: $border-width-md solid $border-color-base;
    border-bottom: $border-width-md solid $border-color-base;
  
    .cell-left {
      flex: 1;
    }
  
    .cell-right {
  
      .cell-desc {
        color: $color-text-caption;
        font-size: $font-size-md * $scale-md;
      }
    }
  }

}

.cats-cell-islink {
  &:hover,&:active,&:visited,&:link,&:focus{
    -webkit-tap-highlight-color: $fill-tap;
  }
}

// Cell组
.cats-cell-group {
  width: 100%;
  background-color: $fill-base;
  margin: $v-spacing-md 0;
  border-top: $border-width-md solid $border-color-base;
  border-bottom: $border-width-md solid $border-color-base;

  .cats-cell .cats-cell-warpper {
    border-top: none;
    padding-left: 0;
  }

  .cats-cell {
    padding-left: $h-spacing-md;

    &:last-child {

      .cats-cell-warpper {
        border-bottom: none;
      }

    }

  }

}