@import "../../styles/animation/index.scss";
@import "../../styles/themes/default.scss";

.cats-dialog {
  position: fixed;
  z-index: $cats-zindex--popup;
  width: $cats-dialog-width;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  background-color: $cats-bgcolor--base-white;
  border-radius: $cats-dialog-borderRadius;
  text-align: center;

  &__header {
    padding: $cats-dialog-padding--header;

    &--title {
      font-weight: $cats-dialog-fontWeight--header-title;
      font-size: $cats-dialog-fontSize--header-title;
      line-height: $cats-dialog-lineHeight--header-title;
    }
  }

  &__body {
    padding: $cats-dialog-padding--body;
    margin-bottom: $cats-dialog-marginBottom--body;

    &--content {
      font-size: $cats-dialog-fontSize--body-content;
      line-height: $cats-dialog-lineHeight--body-content;
      word-wrap: break-word;
      hyphens: auto;
      color: $cats-dialog-color--body-content;
    }
  }

  &__footer {

    &-btns {
      position: relative;
      display: flex;

      &::after {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 1px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
      }

      &--item {
        flex: 1;
        display: block;
        line-height: $cats-dialog-lineHeight--footer-item;
        padding: $cats-dialog-padding--footer-item;
        font-size: $cats-dialog-fontSize--footer-item;
        font-weight: $cats-dialog-fontWeight--footer-item;
        text-decoration: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-user-select: none;
        user-select: none;
        position: relative;
        overflow: hidden;
        cursor: pointer;
      }

      &--confirm {
        color: $cats-dialog-color--footer-confirm;
      }

      &--cancel {
        color: $cats-dialog-color--footer-cancel;

        &::after {
          content: " ";
          position: absolute;
          right: 0;
          top: 0;
          width: 1px;
          bottom: 0;
          border-right: 1px solid rgba(0, 0, 0, 0.1);
          color: rgba(0, 0, 0, 0.1);
          -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
          -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
        }
      }
    }
  }
}