@import "../../styles/animation/index.scss";

.cats-actionsheet {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 5000;
  text-align: center;
  font-size: 17px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  &__menus--item,
  &__cancel--btn {
    padding: 16px;
    position: relative;
    cursor: pointer;
  }

  &__title {
    padding: 8px 16px;
    font-size: 12px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.5);
  }

  &__menus {

    &--disabled {
      cursor: not-allowed;
      color: rgba(0, 0, 0, 0.2);
    }

    &--item::after {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 1px;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      color: rgba(0, 0, 0, 0.1);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }



  &__cancel {
    padding-top: 8px;
    background-color: #f7f7f7;

    &--btn {
      background-color: #ffffff;
    }
  }
}