// 旋转
@keyframes cats-rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

// 缩放-放大
@keyframes cats-scale-expand {
  from {
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
  }
}

// 缩放-缩小
@keyframes cats-scale-narrow {
  to {
    -webkit-transform: translate(-50%, -50%) scale(0.3);
    transform: translate(-50%, -50%) scale(0.3);
    opacity: 0;
  }
}

// 淡入
@keyframes cats-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// 淡出
@keyframes cats-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes cats-slide-top-enter {
  from {
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes cats-slide-top-leave {
  to {
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes cats-slide-bottom-enter {
  from {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes cats-slide-bottom-leave {
  to {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes cats-slide-left-enter {
  from {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes cats-slide-left-leave {
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes cats-slide-right-enter {
  from {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes cats-slide-right-leave {
  to {
    transform: translate3d(100%, 0, 0);
  }
}

.cats-fade {
  &-enter-active {
    animation: cats-fade-in;
  }

  &-leave-active {
    animation: cats-fade-out;
  }
}

.cats-scale {
  &-enter-active {
    animation: cats-scale-expand;
  }

  &-leave-active {
    animation: cats-scale-narrow;
  }
}

.cats-slide {
  &-bottom {
    &-enter-active {
      animation: cats-slide-bottom-enter;
    }

    &-leave-active {
      animation: cats-slide-bottom-leave;
    }
  }

  &-top {
    &-enter-active {
      animation: cats-slide-top-enter;
    }

    &-leave-active {
      animation: cats-slide-top-leave;
    }
  }

  &-left {
    &-enter-active {
      animation: cats-slide-left-enter;
    }

    &-leave-active {
      animation: cats-slide-left-leave;
    }
  }

  &-right {
    &-enter-active {
      animation: cats-slide-right-enter;
    }

    &-leave-active {
      animation: cats-slide-right-leave;
    }
  }
}